.main-content {
  background-color: #efefef;
  min-height: 100vh;
  font-family: 'jost';
}

.content-padding {
  padding: 20px 20px;
}

.back-link {
  text-decoration: none;
  font-size: 24px;
  color: #333;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.page-title {
  font-size: 20px;
  font-weight: 700;
  margin: 30px;
}

/* --- Form Card --- */
.form-card {
  background: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 8px 8px 20px 8px rgba(195, 195, 198, 0.6); 
  max-width: 700px;
  margin: 0 auto;
  margin-left: 100px;
}

.form-header h3 {
  font-size: 18px;
  font-weight: 650;
  margin-bottom: 5px;
}

.form-header p {
  font-size: 12px;
  color: #777;
  margin-bottom: 30px;
  margin-left: 20px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #444;
}

.form-control {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 13px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'jost';
}

.form-control::placeholder {
  color: #bbb;
}

/* Duration Section */
.duration-section {
  margin: 20px 0;
}

.section-title {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
}

.date-picker-container {
  display: flex;
  gap: 20px;
}

.date-field {
  flex: 1;
}

.date-field label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px; /* Rounded corners like in image */
  padding: 1px 12px;
  background: #fff;
}


.input-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #333;
  text-align: center;
}

::ng-deep .mat-datepicker-toggle button {
  width: 40px;
}

.submit-btn {
  width: 100%;
  background-color: #00afb5;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 650;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'jost'; 
  
}

.submit-btn:hover {
  background-color: #004777;
}