<div class="main-content">
  
  <div class="content-padding">
    <h1 class="section-label">Requests Hub</h1>

    <!--Request summary cards-->
    <h3 class="section-label">Overview</h3>
    <div class="stats-grid">
    
      <div class="hub-card border-blue">
        <p>All Requests</p>
        <div class="hub-value">112</div>
      </div>
      <div class="hub-card border-orange">
        <p>Pending Requests</p>
        <div class="hub-value">{{ recentRequests.length }}</div>
      </div>
      <div class="hub-card border-green">
        <p>Approved Requests</p>
        <div class="hub-value">88</div>
      </div>
      <div class="hub-card border-red">
        <p>Rejected Request</p>
        <div class="hub-value">11</div>
      </div>
    </div>

    <!--Initiate new requests-->
    <h3 class="section-label mt-30">Initiate New Requests</h3>
    <div class="action-grid">
      <button class="btn-hub" routerLink="/employee/new-asset-request">New Asset Request</button>
      <button class="btn-hub">Maintenance Request</button>
      <button class="btn-hub">Discard Request</button>
      <button class="btn-hub">Temporary Transfer Requests</button>
    </div>

    <!--Recent requests list-->
    <div class="list-section mt-30">
      <div class="list-header">
        <h3 class="section-label">My Recent Requests</h3>
        <a href="#" class="view-all">View All Requests ></a>
      </div>

      <div class="request-list">

                <!-- Show list if recentRequests has items -->
          <div *ngIf="recentRequests && recentRequests.length > 0; else emptyBlock">
            <div *ngFor="let req of recentRequests" class="request-item">
              <div class="req-info">
                <span class="req-id">Request ID: <b>#{{ req.id }}</b></span>
                <p class="req-name">{{ req.assetName }}</p>
                <span class="req-date">Submitted: {{ req.submittedDate | date:'yyyy-MM-dd' }}</span>
              </div>
              <div class="req-status-area">
                <span><small>New Asset Request</small></span>
                <span [class]="'status-pill ' + req.status.toLowerCase()">{{ req.status }}</span>
                <button class="btn-details">View Details</button>
              </div>
            </div>
          </div>

          <!-- Empty message if no requests -->
          <ng-template #emptyBlock>
            <div class="request-item">
             <!-- <p>No recent requests found.</p>-->
            </div>
          </ng-template>

            
          
                  
         
      </div>
    </div>


  </div>
</div>
