
<div class="container">
  <header class="dashboard-header">
    <div class="header-content">
      <h1>Transfers Management</h1>
      <p class="sub-text">Track, approve, and manage asset movements across divisions.</p>
    </div>

    <div class="overview-section">
      <h3>Overview</h3>
    </div>
  </header>

  <!-- Tabs -->
  <div class="transfer-tabs">
    <button class="tab-btn" [class.active]="activeTab() === 'outgoing'" (click)="setTab('outgoing')">Outgoing Requests</button>
    <button class="tab-btn" [class.active]="activeTab() === 'incoming'" (click)="setTab('incoming')">Incoming Approvals</button>
    <button class="tab-btn" [class.active]="activeTab() === 'pending'" (click)="setTab('pending')">Transfer Confirmations</button>
    <button class="tab-btn" [class.active]="activeTab() === 'active'" (click)="setTab('active')">Active Transfers</button>
    <button class="tab-btn" [class.active]="activeTab() === 'completed'" (click)="setTab('completed')">Completed Transfers</button>
    
  </div>

  <!-- Stats Grid -->
  <div class="stats-grid">

     <div class="card purple-border" [class.highlight]="activeTab() === 'outgoing'">
      <div class="card-content">
          <p class="card-title">Outgoing Requests</p>
          <h2 class="card-number"></h2>
      </div>
    </div>

    <div class="card blue-border" [class.highlight]="activeTab() === 'incoming'">
      <div class="card-content">
          <p class="card-title">Incoming Approvals</p>
          <h2 class="card-number"></h2>
      </div>
    </div>

    <div class="card green-border" [class.highlight]="activeTab() === 'pending'">
      <div class="card-content">
          <p class="card-title">Transfer Confirmations</p>     
          <h2 class="card-number"></h2>
      </div>
    </div>

    <div class="card orange-border" [class.highlight]="activeTab() === 'active'">
      <div class="card-content">
          <p class="card-title">Active Transfers</p>
          <h2 class="card-number"></h2>
      </div>
    </div>

    <div class="card red-border" [class.highlight]="activeTab() === 'completed'">
      <div class="card-content">
          <p class="card-title">Completed Transfers</p>
          <h2 class="card-number"></h2>
      </div>
    </div>

  </div>


  <!-- Content  -->
  <section class="content-container">
    <div class="content-header-row">
    <h2 class="section-main-title">{{ 
         activeTab() === 'outgoing' ? 'Outgoing Requests' :
         activeTab() === 'incoming' ? 'Incoming Approvals' : 
         activeTab() === 'pending' ? 'Pending Confirmations' : 
         activeTab() === 'active' ? 'Active Transfers' : 
         'Completed Transfers' 
    }}
  </h2>
  </div>

    <!--Search and Filter -->
    @if (activeTab() === 'active' || activeTab() === 'completed') {
      <div class="table-actions">
        <div class="input-wrapper">
          <mat-icon class="search-icon">search</mat-icon>
          <input type="text" placeholder="Search Assets..." class="search-bar" [value]="searchQuery()" (input)="onSearchChange($event)">
        </div>
        

        <div class="action-group">
            
              <div class="filter-dropdown">
                <button class="filter-btn" (click)="$event.stopPropagation(); showMenu.set(!showMenu())">
                  <div class="filter-icon">
                  <mat-icon>tune</mat-icon>
                  <span>{{ filterType() === 'all' ? 'All Types' : filterType() }}</span>
                  </div>
                  <mat-icon class="arrow">expand_more</mat-icon>

                </button>

                @if (showMenu()) {
                  <div class="filter-menu-card">
                    <div class="filter-option" (click)="setFilterType('all')" [class.active]="filterType() === 'all'">
                      All Transfers
                    </div>
                    <div class="filter-option" (click)="setFilterType('Incoming Active')" [class.active]="filterType() === 'Incoming Active'">
                      Incoming
                    </div>
                    <div class="filter-option" (click)="setFilterType('Outgoing Active')" [class.active]="filterType() === 'Outgoing Active'">
                      Outgoing
                    </div>
                  </div>
                }
              </div>
            </div>

      </div>
    }



    <div class="list-wrapper">

      @if (isLoading()) {
        <div class="loading-state" >
          <mat-icon class="spin-animation" >sync</mat-icon>
          <p>Loading transfers... Please wait.</p>
        </div>
      } 
      @else {

      @for (item of filteredResults(); track item.id) {
        
        <!-- Incoming Requests, Pending Approval -->
        @if (activeTab() === 'incoming' || activeTab() === 'pending' ) {
          <div class="asset-item-card">
            <div class="card-badge-row">
              <span class="time-stamp"><mat-icon>schedule</mat-icon>{{ item.timeAgo }}</span>
              </div>
              
              <div class="asset-info-box">
                <div class="info-header">
                  <span class="asset-name-id"> {{item.productName}} <span class="sub-id">Code: {{ item.assetTag }}  </span>   </span> <span class="trf-id"> ( ID: #{{ item.id }} )</span>
                </div>


              <div class="info-grid-details">
                 @if (activeTab() === 'incoming') {
                <p><span>Division:</span> {{ item.toDivisionName }}</p>
                <p><span>Requested by:</span> {{ item.transferByName }} </p>
                <p><span>Asset need to:</span> {{ item.targetUserName }}</p>
                <div class ="AcceptedBy"><p><span >Accepted By:</span> {{ item.currentHolderName }}</p> </div>
                <p><span>Transfer period:</span> {{ item.transferPeriod }}</p>
                <p><span>Reason:</span> {{ item.reason }}</p>
                 }@else {

                @if (activeTab() === 'pending') {
                <p><span>Division:</span> {{ item.fromDivisionName }}</p>
                <p><span>Asset need to:</span> {{ item.targetUserName }}</p>
                <div class ="AcceptedBy"><p><span >Accepted By:</span> {{ item.currentHolderName }}</p> </div>
                <div><p><span >Approved By:</span> {{ item.fromDivisionName }} Head</p> </div>
                <p><span>Transfer period:</span> {{ item.transferPeriod }}</p>
                <p><span>Reason:</span> {{ item.reason }}</p>
                }
              }
              </div>
            </div>
            
            <div class="action-buttons-cell">
              @if (activeTab() === 'incoming') {
                <button class="btn-accept" (click)="approveTransfer(item.id)">Approve</button>
                <button class="btn-reject" (click)="rejectTransfer(item.id)">Reject</button>
              } @else {
                @if (activeTab() === 'pending') {
                <span class="status-badge-outline pending" (click)="confirmTransfer(item.id) ">Pending Confirmation</span>
                }
                @if (item.status === 'Confirmed') {
                    <span class="status-badge-outline confirmed">Confirmed</span>
                }
                 @if (item.status === 'Approved') {
                    <span class="status-badge-outline confirm">Confirm</span>
                    <span class="status-badge-outline rejected">Reject</span>
                }
                 @if (item.status === 'Transfer') {
                    <span class="status-badge-outline transfer">Transfer</span>
                }
                @if (item.status === 'Transfered') {
                    <span class="status-badge-outline transfered">Transfered</span>
                }

              }
            </div>
          </div>
        }

        <!-- Active Transfers, Completed Transfers -->
        @if (activeTab() === 'active' || activeTab() === 'completed') {
          <div class="asset-item-card"> 
            <div class="card-badge-row">
              @if (activeTab() === 'active' ) {
                <div class="days-left-tag absolute-top-right">
                  <mat-icon>hourglass_empty</mat-icon>
                  {{ item.daysLeft }}
                </div>
              } @else {
                <span class="time-stamp absolute-top-right">
                  <mat-icon>schedule</mat-icon>{{ item.timeAgo }}
                </span>
              }
            </div>

            <div class="asset-info-box">
              <div class="info-header-vertical">
                 <span class="asset-name-id"> {{item.productName}} <span class="sub-id">Code: {{ item.assetTag }} <span class="trf-id"> ( ID: #{{ item.id }} )</span> </span></span> 
                <div class="badge-group">
                  <span class="badge-type" [ngClass]="item.type === 'Incoming Active' ? 'inc' : 'out'">{{ item.type }}</span>
                  @if (activeTab() === 'completed') {
                    <div class="status-pill completed">Completed</div>
                  }
                </div>
              </div>

              

              <div class="info-grid-details"> 
                @if (item.type === 'Outgoing Active') {
                  <p><span>Division(Tranfer to):</span> {{ item.toDivisionName }}</p>

                } @else {
                  <p><span>Division(Transfer from):</span> {{ item.fromDivisionName }}</p>  
                }
                <p><span>Asset Transfer From:</span> {{ item.currentHolderName }}</p>
                <p><span>Asset Transfer To:</span> {{ item.targetUserName }}</p>
                <p><span>Transfer Period:</span> {{ item.transferPeriod }}</p>
              </div>
            </div>

            <div class="action-buttons-cell">
                <button class="btn-view-outline"><mat-icon>visibility</mat-icon>View Details</button>
            </div>
          </div>
        }

        <!-- Outgoing Requests -->
        @if (activeTab() === 'outgoing') {
          <div class="asset-item-card">
          
           <div class="card-badge-row">
                <span class="time-stamp"><mat-icon>schedule</mat-icon>{{ item.timeAgo }}</span>
            </div>

              <div class="asset-info-box">
                <div class="info-header">
                  <span class="asset-name-id"> {{item.productName}} <span class="sub-id">Code: {{ item.assetTag }}  </span>   </span> <span class="trf-id"> ( ID: #{{ item.id }} )</span>
                </div>

              <div class="info-grid-details">
                <p><span>Division:</span> {{ item.fromDivisionName }}</p>
                <p><span>Asset Owner:</span> {{ item.currentHolderName }}{{ item.currentHolderId ? ' (ID: ' + item.currentHolderId + ')' : '' }}</p>
                <p><span>Transfer period:</span> {{ item.transferPeriod }}</p>
                <p><span>Asset need to:</span> {{ item.targetUserName }}{{ item.targetUserId ? ' (ID: ' + item.targetUserId + ')' : '' }}</p>
                <p><span>Reason:</span> {{ item.reason }}</p>
                
              </div>
            </div>
            
            <div class="action-buttons-cell">
              <span class="status-badge-outline pending-sent">Sent to Employee</span>
            </div>
          </div>
        }

      } @empty {
          <div class="empty-state">
            <mat-icon class="empty-icon">layers_clear</mat-icon>
            <h3>No Records Found</h3>
            <p>There are no assets matching this criteria at the moment.</p>
          </div>
        }

    }
    </div>

    @if (filteredResults().length > 0) {
        <div class="pagination-footer">
            <button class="page-arrow"><mat-icon>chevron_left</mat-icon></button>
            <span class="page-num">1</span>
            <button class="page-arrow"><mat-icon>chevron_right</mat-icon></button>
        </div>
    }
  </section>
</div>
