@font-face {
    font-family: 'Jost';
    src: url('./assets/font/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

*:not(.material-icons):not(.mat-icon):not(mat-icon),
*::before,
*::after,
*::placeholder,
html,
body,
button,
input,
select,
textarea,
span:not(.material-icons):not(.mat-icon),
div,
p,
a,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost', sans-serif !important;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}